name: CI with Terraform Demo

on:
  push:
    branches:
      - main

jobs:
  terraform-demo:
    runs-on: ubuntu-latest

    steps:
      - name: Get code
        uses: actions/checkout@v4

      - name: Install Terraform
        run: |
          sudo apt-get update
          sudo apt-get install -y terraform

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -auto-approve
